.input-base {
   @include font-size(18px);
   padding: 10px 5px;
   width: 100%;
}

button {
   @include font-size(16px);
   background: get-color(white);
   border: 1px solid get-color(charcoal);
   margin: 10px;
}
