
// Vendor .....................................................................
@import "../bower/normalize-scss/_normalize";
@import "../bower/fontawesome/scss/font-awesome";
@import "../bower/susy/sass/_susy";
@import "../bower/include-media/dist/_include-media";

// Functions & Mixins .........................................................
@import "utilities/getters-setters";
@import "utilities/pseudo-elements";
@import "utilities/font";

// Base .......................................................................
@import "base/variables";
@import "base/elements";
@import "base/input";

@import "pages/page";


.color-bloop {
   border: 1px solid #000;
   border-radius: 50%;
   margin-top: -3px;
   height: 20px;
   width: 20px;
}
.color-bloop-text,
.color-bloop-error, {
   margin-left: .5rem;

}
.color-bloop-error {
   color: get-color(carmine-red);
}
.color-bloop-item {
    align-content: space-around;
    align-items: center;
    display: flex;
    justify-content: flex-start;
}



