header {
   @include span(12 of 12);
   margin-bottom: 3rem;
   margin-top: 2rem;

   h1 {
      @include font-size(40px);
      color: get-color(cape-cod);
   }

   p {
      @include font-size(18px);
      margin-top: -1rem;
      color: get-color(cape-cod);
   }
}

main {
   @include container;
}

.input-area {
   @include span(6 of 12);
}

.display-area {
   @include span(last 5 of 12);
   @include font-size(22px);
}

